Options -Indexes
DirectoryIndex index.php index.html index.htm
ErrorDocument 404 /404.shtml

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^index-2\.html$ / [L,R=301]
RewriteRule ^index-3\.html$ / [L,R=301]
RewriteRule ^index\.html$ / [L,R=301]
RewriteRule ^about\.html$ /about.php [L,R=301]
RewriteRule ^contact\.html$ /contact-page.php [L,R=301]
RewriteRule ^career\.html$ /career-page.php [L,R=301]
RewriteRule ^calculator\.html$ /calculator-home.php [L,R=301]
</IfModule>
