Options -Indexes
ServerSignature Off

DirectoryIndex index.php index-2.php

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

RewriteCond %{REQUEST_URI} ^/(.+)\.html$ [NC]
RewriteCond %{DOCUMENT_ROOT}/%1.php -f
RewriteRule ^(.+)\.html$ /$1.php [L,R=301,NC]

RewriteRule ^index\.html$ / [L,R=301,NC]
RewriteRule ^index-2\.html$ / [L,R=301,NC]
RewriteRule ^index-3\.html$ / [L,R=301,NC]
RewriteRule ^index-2\.php$ / [L,R=301,NC]
RewriteRule ^index-3\.php$ / [L,R=301,NC]
</IfModule>

ErrorDocument 404 /404.shtml
